doctype html
html
	head

		title BerryTube3 :: I couldn't stop it if i tried
		if stylesheets
			each css in stylesheets
				link(rel="stylesheet", href=css.href, type="text/css")

		script(src="js/lib/jquery.min.js")
		script(src="js/lib/jquery-ui.min.js")

		if scripts
			each js in scripts
				script(src=js.src)
				
	body
		
		div.root
