body
	background url("images/stain.png") no-repeat fixed center top #421c52

// Playlist
#playlist .frame
	background-color white

#playlist .scrollbar .track
	background-color white

#playlist .thumb 
	background-color red

#playlist .list .track
	background-color white
	border 1px solid
	margin 2px
	padding 2px