<!doctype html>
<html lang="en" ng-app="btApp">
	<head>
		<meta charset="utf-8">
		<title>My HTML File</title>
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/controllers.js"></script>
	</head>
	<body>
	
		<div ng-controller="userList">
			<h1>Connected Users: {{userCount}}</h1>
			<ul class="people">
				<li ng-repeat="user in users">
					<button ng-click="$parent.go();">{{user.name}}</button>
				</li>
			</ul>
			<button ng-click="userCount = userCount + 1">{{user.name}}</button>
		</div>
		<div ng-controller="timer">
			<h1>{{timer}}</h1>
		</div>
		
	</body>
</html>