<!doctype html>
<html lang="en" ng-app="btApp">
	<head>
		<meta charset="utf-8">
		<title>My HTML File</title>
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/master.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/tinyscrollbar.css">
		<!-- CDN Stuff -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<!-- Local Stuff -->
		<script src="js/jquery.tinyscrollbar.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body>
	
		<div ng-controller="userList">
			<h1>Connected Users: {{userCount}}</h1>
			<ul class="people">
				<li ng-repeat="user in users">
					<button ng-click="$parent.go();">{{user.name}}</button>
				</li>
			</ul>
			<button ng-click="userCount = userCount + 1">Artifically increase usercount in memory</button>
		</div>

		<div ng-controller="timer">
			<h1>{{timer}}</h1>
		</div>
		
		<div id="playlist" ng-controller="playlistController">
			<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<div class="viewport">
				 <div class="overview">
					<bt-playlist-video ng-repeat="video in playlist"></bt-playlist-video>
				</div>
			</div>
		</div>
				
	</body>
</html>