mixin linkie(url, label)
	li
		a(href="#{url}", target="_blank") #{label}

div.horse
	h1 BerryTube 3 Beta Weekend
	p.
		It's that time BT! Welcome to the (very) in development version of BT3!
	p.
		THINGS TO KNOW:
	ul
		+linkie("https://github.com/BTDev/BerryTube","Source Code (Server & Client/Page)")
		+linkie("https://github.com/BTDev/BerryTube/issues","See all existing Reports / Bugs")
		+linkie("https://github.com/BTDev/BerryTube/issues/new","Submit new issue / Bug report / Suggestion")
		li PLEASE Search the existing issues for something before submitting a new ticket, getting a dozen tickets about horizontal scrollbars does not help.
		li If you do not have a github account and for whatever reason do not wish to make one, attach your bug report to #[a(href="#") this Reddit post], these will get looked at, but will be low in priority / visibility.
		li Filing a ticket/report about a feature that is not yet implemented does not help. X not existing is not X being broken or needing tweaks.
		li Non-destructive hacking attempts are encouraged, under the provision that if a security flaw is discovered it be reported immediately. Non-destructive meaning in this case damage to systems outside of BerryTube itself. I.E, if you get root, fuck off, keep it to yourself, and tell me how. If you find a way to delete videos without permission, make a ticket, or better yet, a pull request with a fix. I will consider security-related bounties in the form of commendations, mentions, or badges.
		li Administrator ranks will be given out on occasion. If these are abused they will no longer be given out. Penetration testing BT itself will not count as administrator rank abuse.
	-
		randomShit = [
			"Thanks and love", 
			"Biscuits and Gravy", 
			"420 Blaze It", 
			"Bring out your dead", 
			"Bend over", 
			"Bacon and Eggs",
			"You can do it",
			"Now take a shot",
			"Don't tell my mom",
			"Milk and Butter",
			"Burgers and Fries",
			"Shake and Bake",
			"P = NP",
			"Fish and Chips",
			"Please and Thank you",
			"RDbespont",
			"Lav is a cutie",
			"Why are they called fingers",
			"Doot Doot",
			"APPLEBLOOM",
			"Bread em' and Bed em'",
			"Pork and Beans",
			"Lemon and Lime",
			"Jesus and Jesus",
			"Call your parents",
			"Mitochondria is the powerhouse of the cell",
			"Sleep is overrated",
			"450 Braise it",
			"By Grabthar's Hammer, what a savings",
			"Tunnel Snakes Rule",
			"Cucumbers scare cats",
			"Your waifu is shit",
			"Try rebooting first",
			"Spackle my cracks",
			"Give it time",
			"China might be aliens",
			"Holla'",
			"No Roleplay",
			"Wash behind your ears",
			"Cotts and Ravine",
			"Typing shit as I think it",
			"Suplex the train",
			"Hail Hydra",
			"Hail Hydrate",
			"Hail Satan",
			"Follow the music in the lost woods",
			"Pedal to the Metal",
			"California drivers suck",
		]
		thing = randomShit[Math.floor(Math.random() * randomShit.length)]
	p #{thing},#[br] Cades.