mixin linkie(url, label)
	li
		a(href="#{url}", target="_blank") #{label}

div.horse
	h1 BerryTube 3 Beta Weekend
	p.
		It's that time BT! Welcome to the (very) in development version of BT3!
	p.
		THINGS TO KNOW:
	ul
		+linkie("https://github.com/BTDev/BerryTube","Source Code (Server & Client/Page)")
		+linkie("https://github.com/BTDev/BerryTube/issues","See all existing Reports / Bugs")
		+linkie("https://github.com/BTDev/BerryTube/issues/new","Submit new issue / Bug report / Suggestion")
		li PLEASE Search the existing issues for something before submitting a new ticket, getting a dozen tickets about horizontal scrollbars does not help.
		li If you do not have a github account and for whatever reason do not wish to make one, attach your bug report to <a href="#">this Reddit post</a>, these will get looked at, but will be low in priority / visibility.
		li Filing a ticket/report about a feature that is not yet implemented does not help. X not existing is not X being broken or needing tweaks.
		li Non-destructive hacking attempts are encouraged, under the provision that if a security flaw is discovered it be reported immediately. Non-destructive meaning in this case damage to systems outside of BerryTube itself. I.E, if you get root, fuck off, keep it to yourself, and tell me how. If you find a way to delete videos without permission, make a ticket, or better yet, a pull request with a fix. I will consider security-related bounties in the form of commendations, mentions, or badges.
		li Administrator ranks will be given out on occasion. If these are abused they will no longer be given out. Penetration testing BT itself will not count as administrator rank abuse.
	p Thanks and love, Cades.