doctype html
html
	head#head
		title BerryTube

		link(href='css/main.css', rel='stylesheet')
				
		// Temp hardcoded Theme
		link(href='css/themes/bp/main.css', rel='stylesheet')

	body
		div(id="#{something}")
			p.
				HELLO CHILDREN #{something}