doctype html
html
	head#head
		title BerryTube

		link(href='css/main.css', rel='stylesheet')
				
		// Temp hardcoded Theme
		link(href='css/themes/bp/main.css', rel='stylesheet')

		script(src='js/vendor/q.js')
		script(src='js/vendor/eventemitter2.js')
		script(src='js/main.min.js' async='true')
	body
		div#root
			div#social
				include elements/userlist.jade
				include elements/chat.jade