div#chat
	div#chatbuffers
		div.channel(data-channel-id='root')
	div#input
		input#chatinput(type="text")
		
div#login
	div.formrow
		label Username
		input#loginusername
	div.formrow
		label Password
		input#loginpassword(type="password")
	div.formrow
		label Remember
		input#remember-me(type="checkbox")
	div.formrow
		button#loginbutton Login
		button#registerbutton Register
		