- if(!title) title = "BerryTube"
title #{title}

link(href='css/main.css', rel='stylesheet')
link(href='//fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet')
link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
		
//- Temp hardcoded Theme
link(href='css/themes/bp/main.css', rel='stylesheet')
