- if(!title) title = "BerryTube"
title #{title}

link(href='css/main.css', rel='stylesheet')
link(href='//fonts.googleapis.com/css?family=Muli', rel='stylesheet')
		
//- Temp hardcoded Theme
link(href='css/themes/bp/main.css', rel='stylesheet')
