div#playlistcontrols
	button(pane="queuepane") Queue Video
div#plitems
div#queuepane.pane
	input#queuetb
	button(class="queuebtn",type="normal") Q
	button(class="queuebtn",type="volat") V
div#videoeditor.pane
	div.left
		div.row
			label Title
			input(name="title")
	div.right
		div.row#open-outside
			button.bt-button Open Externally
		div.row#queue-next
			button.bt-button Queue Next
		div.row#toggle-volatile
			button.bt-button Toggle Volatile
			
		div.clearfix
	div.clearfix