div#playlistcontrols
	button(pane="queuepane") Queue Video
div#plitems
div#queuepane.pane
	input#queuetb
	button(class="queuebtn",type="normal") Q
	button(class="queuebtn",type="volat") V
div#videoeditor.pane
	input(name="title")