@require "includes/mixins.styl"

@keyframes wiggle {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}

// GLOBALS
main-site-wrapper-width = 1200px;
	
body{

	font-family: 'Droid Sans', sans-serif;

	&[data-bt-logged-in=true] {
		background-color: black;
	}
	
}

#root { 
	width:main-site-wrapper-width;
	margin:0 auto;
}

#playlist {

	playlist-width = 500px;
	playlist-height = 350px;

	width playlist-width;
	height playlist-height;
	float left
	background black
	position relative 
	color:white;
	
	#playlistcontrols {
		height:0;
		top:0;
		width:100%;
		position:absolute;
		transition: 0.5s all;
		background:green;
		overflow: hidden;
		z-index: 1;
		
		body[data-bt-playlist-options=true] & { height:10%; } 
		
		button {
			border: 1px solid;
			bottom: 0;
			box-sizing: border-box;
			height: 90%;
			margin: auto 2px;
			position: absolute;
			top: 0;
			display:none;
			transition: 0.5s all;
			body[data-bt-playlist-queue=true] & { display:block; }
			&.active {
				background: black none repeat scroll 0 0;
				border: 1px solid gold;
				color: gold;
			}
		}
		
	}
	
	.pane {
		background: black
		border-style: solid;
		opacity: 0;
		border-width: 0 1px 1px;
		height: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 10%;
		width: 80%;
		transition: 0.5s all;
		overflow:hidden;
		&.active {
			height:160px; 
			opacity:1
		}
		
		// queuepane
		&#queuepane.active{ height:40px; }
		
	}
	
	#queuetb {
		box-sizing: border-box;
		height: 30px;
		margin: 5px;
		width: 315px;
	}
	
	.scrollwrapper {
	
		height:100%;
		width: 100%;
		position:absolute;
		transition: 0.5s all;
		body[data-bt-playlist-options=true] & { 
			height:90%;
			bottom:0;
		}
	
		#plitems {
			margin-right:20px;	
		}
		
		.scrolltrack {
			position: absolute;
			top: 0;
			width: 20px;
			height: 100%;
			background: #F00;
			right: 0;
			
			.scrollscrubber {
				width: 100%;
				height: 50px;
				background-color: #00F;
			}
			
		}
	}
	
}
.playlistitem {

	position: relative;
	border: 1px solid;
	margin: 2px;
	font-size: 14px;
	
	.handle{
	
		// Only show on perms
		body[data-bt-playlist-sort=true] & { width:5%; }
		transition: 0.5s all;
	
		overflow: hidden;
		position:absolute;
		left:0;
		top:0;
		height:100%
		width:0; 
		background:gray
		cursor: -webkit-grab;
		cursor: -moz-grab;
		
		.fa.fa-bars {
			width: 100%;
			text-align: center;
			pointer-events: none;
		}
		
	}
	
	.content{
	
		// Only show on perms
		body[data-bt-playlist-sort=true] & { margin-left:5%; }
		transition: 0.5s all;
		overflow: hidden;
		height: 100%;
		padding: 0 4px;
		margin-left:0;
	}
	
	.quickactions {
		float: right;
		overflow: hidden;
		height: 100%;
		
		& > div {
			transition: all 0.25s;
			background: rgba(0,0,0,0.5);
			&:hover{
				background: rgba(255, 225, 0, 0.5)
			}
		}
		
		.del {
		
			// Only show on perms
			body[data-bt-playlist-delete=true] & { width:15px; padding: 0 2px; }

			padding: 0 0px;
			color: red;
			overflow: hidden;
			text-align: center;
			width: 0;
			cursor:pointer;
			
			&:after{
				content: "\f014";
				font-family: "FontAwesome";
			}
		}
	}
	
	&.target { 
		background:green;
		
		$arrow{
			display: block;
			content: "\f060";
			font-family: "FontAwesome";
			height: 60px;
			position: absolute;
			left: 30px;
			line-height: 60px;
			width: 30px;
			box-sizing: border-box;
			z-index: 1;
			font-size: 30px;
			pointer-events: none;
			animation 0.3s ease alternate infinite wiggle;
		}
		
		&.below:after {
			@extend .playlistitem.target $arrow
			bottom: -30px;
		}
		
		&.above:before {
			@extend .playlistitem.target $arrow
			top: -30px;
		}
		
	}
	
	&.ghost{
		padding: 3px;
		width: 400px;
		background-color: black;
		color: white;
		opacity: 0.5;
	}
	
	&.active {
		background: rgb(0, 160, 160) none repeat scroll 0 0;
	}
	
	&.pointer {
		border-bottom: 5px solid;
	}
}


// Social Section
#social { 
	
	// Define some vars
	social-width = 700px;
	social-height = 350px;
	social-input-height = 30px;
	social-userlist-width = 150px;
	social-usercount-height = 20px;
	
	width: social-width;
	position relative
	height social-height
	float:right;
	
	// Chat "Module"
	#chat {

		font-size: 12pt;
		width: social-width;
		box-sizing: border-box;

		#input {
			#chatinput {
				display: block;
				width: social-width - social-userlist-width;
				box-sizing: border-box;
				border: 1px solid;
				height: social-input-height;
				padding: 3px;
			}
		}
		
		#chatbuffers {
		
			height: social-height - social-input-height;
			width: social-width - social-userlist-width;
		
			.channel {
			
				background-color: #fff;
				height:100%;
				border: 1px solid;
				box-sizing: border-box;
				overflow-y: scroll;
				overflow-x: wrap;
				
				.chatline {
					
					margin: 5px 0 0;
					
					span {
						padding: 0 3px;
					}
					
					.timestamp {
						font-size: 0.7em;
						font-style: italic;
						&:before { content: "<"; }
						&:after { content: ">"; }
					}
					
					.username {
						font-weight:bold;
						&:after { content: ":"; }
					}
					
					&.error{
						color: #D60000;
						background-color: rgba(255, 0, 0, 0.08);
					}
					
					&.addendum{
						margin: 0 0 0 20px;
						.timestamp { display:none }
						.username { display:none } 
					}
					
					
				}
				
			}
			
		}
		
	}

	#userlist {
	
		float right
		width social-userlist-width
		background white
		height 100%
		position: relative;
		
		#usercount {
			text-align:center;
			border: 1px solid;
			box-sizing: border-box;
			height: social-usercount-height
			width: 100%;
			position: absolute;
			font-size: 11px;
			line-height: 20px;
			&:after{
				content: " Connected Users";
			}
		}
		
		.list {
			border: 1px solid;
			box-sizing: border-box;
			height: social-height - social-usercount-height
			width: 100%;
			position: absolute;
			bottom: 0;
			
			.user {
				font-weight: bold;
				padding: 3px;
			}
		}
		
	}

	#login {
		// Only show on perms
		body[data-bt-logged-in=true] & { display:none; }
	}
	
	
}

#vidcanvas{

	canvas-height = 480px;

	height: canvas-height;
	width: canvas-height * 1.77;
	margin: 0 auto;
	background: black none repeat scroll 0 0;
}
