// MIXINS
 
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

animation()
	vendor('animation', arguments)

user-select()
	vendor('user-select', arguments)

// STYLES

.root
	width 900px
	margin 0 auto

img
	border 1px solid

#beam1
	animation: blinky 7s infinite;

#beam2
	animation: blinky 11s infinite;

#beam3
	animation: blinky 13s infinite;

@keyframes blinky 
	0%
		fill #000000
	50%
		fill #ffffff
	100%
		fill #000000

// PLAYLIST

#playlist 
    height 200px
    width 480px

#playlist .frame
	overflow hidden
	height 100%
	position relative

#playlist .list .track
	cursor pointer

#playlist .list .track .title
	user-select none
	cursor inherit