bt-playlist-video {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    margin: 1px;
    position: relative;
}
video-title {
    display: inline-block;
    width: 90%;
}
video-length {
    display: inline-block;
    text-align: right;
    width: 10%;
}